h1 {
	color: white;
	margin: 0;
}

.header {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

h3 {
	padding: 20px;
}

p {
	padding: 20px;
}

h4 {
	display: flex;
	margin: 0;
}

/* ID uses a "#" */
#navbar {
	background-color: #566A7D;
	color: white;
	height: 150px;
	text-align: left;
	padding: 0px;
	display: flex;
	align-items: center;
}

#main-content {
	background-color: #F0F0F0;
	color: black;
	height: calc(100vh - 150px);
	display: flex;
}


/* class uses a dot "." */

h2{
	padding: 20px;
	margin: 0;
}

.sidebar {
	width: 200px;
	height: 100%;
	background-color: #81BFFA;
}

.content {
 flex: 1;
}

@media (max-width: 800px) {
	.sidebar {
		background-color: yellow;
	}
}

button {
	padding: 20px;
	margin: 20px;
	border-radius: 10px
}

#clearAll {
      background-color: #FA3709;
      color: white;
      border: none;
      cursor: pointer; /* Makes the button look clickable */
    }
    #clearAll:hover {
      background-color: darkred; /* Optional: Darkens the color on hover */
    }

.items {
	display: flex;
	gap: 10px; 
	margin-left: 20px;
}

body {
	margin: 0;
}